In [2]:
import pandas as pd

In [3]:
file = 'election_data.csv'

In [4]:
filedf = pd.read_csv(file)

In [5]:
filedf.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [6]:
dummycan = pd.get_dummies(filedf['Candidate'])
dummycan.head

<bound method NDFrame.head of          Correy  Khan  Li  O'Tooley
0             0     1   0         0
1             1     0   0         0
2             0     1   0         0
3             0     1   0         0
4             0     1   0         0
5             0     0   1         0
6             1     0   0         0
7             0     1   0         0
8             0     1   0         0
9             1     0   0         0
10            0     1   0         0
11            1     0   0         0
12            0     1   0         0
13            0     1   0         0
14            1     0   0         0
15            0     1   0         0
16            1     0   0         0
17            1     0   0         0
18            0     1   0         0
19            1     0   0         0
20            1     0   0         0
21            1     0   0         0
22            1     0   0         0
23            0     1   0         0
24            0     1   0         0
25            0     1   0         0
26            0     1   0         0
27            0     1   0         0
28            0     1   0         0
29            1     0   0         0
...         ...   ...  ..       ...
3520971       0     1   0         0
3520972       0     1   0         0
3520973       1     0   0         0
3520974       0     1   0         0
3520975       0     1   0         0
3520976       0     0   0         1
3520977       0     1   0         0
3520978       1     0   0         0
3520979       0     1   0         0
3520980       0     0   0         1
3520981       0     1   0         0
3520982       0     1   0         0
3520983       0     0   1         0
3520984       0     1   0         0
3520985       0     1   0         0
3520986       1     0   0         0
3520987       0     1   0         0
3520988       0     0   1         0
3520989       0     1   0         0
3520990       0     1   0         0
3520991       1     0   0         0
3520992       0     1   0         0
3520993       0     1   0         0
3520994       1     0   0         0
3520995       1     0   0         0
3520996       0     1   0         0
3520997       0     1   0         0
3520998       0     1   0         0
3520999       0     1   0         0
3521000       0     0   0         1

[3521001 rows x 4 columns]>

In [10]:
dummycan.describe()

          Correy          Khan            Li      O'Tooley
count  3521001.0  3.521001e+06  3.521001e+06  3.521001e+06
mean         0.2  6.300001e-01  1.400000e-01  2.999999e-02
std          0.4  4.828043e-01  3.469870e-01  1.705872e-01
min          0.0  0.000000e+00  0.000000e+00  0.000000e+00
25%          0.0  0.000000e+00  0.000000e+00  0.000000e+00
50%          0.0  1.000000e+00  0.000000e+00  0.000000e+00
75%          0.0  1.000000e+00  0.000000e+00  0.000000e+00
max          1.0  1.000000e+00  1.000000e+00  1.000000e+00

In [12]:
dummycan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3521001 entries, 0 to 3521000
Data columns (total 4 columns):
Correy      uint8
Khan        uint8
Li          uint8
O'Tooley    uint8
dtypes: uint8(4)
memory usage: 13.4 MB

In [14]:
dummycan['Correy'] = pd.to_numeric(dummycan['Correy'])

In [16]:
dummycan['Correy'].dtype

dtype('uint8')

In [ ]:
#filedf.to_csv("output_election.csv", index=False, header=True)

In [6]:
filedf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3521001 entries, 0 to 3521000
Data columns (total 3 columns):
Voter ID     int64
County       object
Candidate    object
dtypes: int64(1), object(2)
memory usage: 80.6+ MB

In [14]:
filedf['Candidate'].value_counts()

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [14]:
print("------------------------------")
print("Election Results:")
print("------------------------------")
print("Total Votes")
filedf['Candidate'].value_counts()

------------------------------
Election Results:
------------------------------
Total Votes

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [18]:
filedf['Candidate'].value_counts()/len(filedf.Candidate) * 100

Khan        63.000011
Correy      19.999994
Li          13.999996
O'Tooley     2.999999
Name: Candidate, dtype: float64

In [17]:
#header = ["Correy", "Kahn", "Li", "O'Toole"]
dummycan.to_csv('col_output.csv', index=False)